DATABASE_URL=postgresql+asyncpg://invoice_user:invoice_pass@db:5432/invoice_db
DATABASE_URL_SYNC=postgresql+psycopg2://invoice_user:invoice_pass@db:5432/invoice_db
REDIS_URL=redis://redis:6379/0
PSP_URL=http://mock_psp:8001/charge
SECRET_KEY=change-me-in-production
DEBUG=true